@import "../../styles/variables.scss";

.container {
  background: aliceblue;
  border-bottom: 2px solid lightblue;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;

  @media (max-width: $screen-sm) {
    padding: 35px 25px;
  }
}
